.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}
.link {
  color: rgb(108, 108, 232);
  text-decoration: underline;
}
.navbar {
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  background-color: #333;
  color: white;
  z-index: 1000;
  padding: 10px 0;
  display: flex;
  justify-content: space-between;
}

.navbarLinks{
  padding-inline: 10px;
}

.button {
  display: inline-block;
  padding: 10px 20px;
  background-color: #4caf50; /* Green button background color */
  color: white; /* Button text color */
  border-radius: 10px; /* Rounded corners */
  text-decoration: none; /* Remove underline */
  border: none; /* Remove border */
  cursor: pointer; /* Show cursor as pointer on hover */
  transition: background-color 0.3s; /* Smooth transition on hover */
}

.button:hover {
  background-color: #388e3c; /* Darker green background color on hover */
}

.paragraph {
  margin-right: 20px; /* Add spacing of 20px to the right */
}

.authButtonContainer{
  display: flex;
  justify-content: right;
  padding-inline: 10px;
  font-size: small;
  text-align: center;
}
@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

.button-link {
  display: inline-block;
  padding: 10px 20px;
  background-color: #007bff; /* Button background color */
  color: white; /* Button text color */
  border-radius: 10px; /* Rounded corners */
  text-decoration: none; /* Remove underline */
  border: none; /* Remove border */
  cursor: pointer; /* Show cursor as pointer on hover */
  transition: background-color 0.3s; /* Smooth transition on hover */
}

.button-link:hover {
  background-color: #0056b3; /* Darker background color on hover */
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

#datepicker {
  padding: 8px;
  border: 1px solid #ccc;
  border-radius: 4px;
  font-size: 16px;
  outline: none; /* Remove the default focus outline */
  margin: 10px;
}

.startPage{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}